<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mendakuy"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsmbzuAqzfMNCpFKRyopCM_tCp6R6Svd4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <service android:name=".ui.explore.MyLocationServices"/>

        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Mendakuy.NoActionBar">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic__notifications" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/accent100" />
        </activity>

        <activity android:name=".ui.chat.ContentChatActivity"
            android:exported="true"
            android:label="ContentChatActivity"
            android:theme="@style/Theme.Mendakuy.NoActionBar">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic__notifications" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/accent100" />
        </activity>

        <activity
            android:name=".ui.updateprofile.UpdateProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detailguide.DetailGuideActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detailpost.DetailPostActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>